<div class="window">
  <h2>Instructions</h2>
  <div>
    <p>This is where the instructions for the activity will go. You will be able to read all about the cool XR tools, information, and sources to build your virtual farming system here. There may or may not be content in the center of the page, but in case there is something cool like a panorama the information will be housed here on the side instead! That way you are free to move about the cabin and play with the content in the center of the page.</p>
    <p>The COOLER part is that even if the panorama is not in the center of the screen, the page will stay the same size. Andie needs to make it so that this stays consistend on multiple devices... and don't get us started on cellular. This is a little much to work like this on cell. Perhaps will resort to moving content to seperate buttons to open as a different page. We will get there when we get there.</p>
  </div>
</div>
