.flex-container {
  margin-top: 5em;
  margin-left: -20em;
  display: flex;
}

.app-window-progress {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.app-window-main {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.app-window-instructions {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
