.flex-container {
  margin-top: 5em;
  margin-left: -20em;
  display: flex;
  margin-right: -308px;
}

.app-window-progress {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.app-window-instructions {
  width: 100px;
  height: 100px;
  margin-right: 100px;
}
